@using System.Web.UI.WebControls
@using CMS.BLL
@using CMS.Common
@using CMS.Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/tableStyle.css" rel="stylesheet" />
    <link href="~/Content/pageBar.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <title>主页</title>
    <script type="text/javascript">
        $(function() {
            $("#detailDiv").css("display", "none");
            $(".details").click(function() {
                showDetail($(this).attr("ids"));
            });
        });
        //显示详细信息
        function showDetail(id) {
            $.post("/AdminNewList/GetNewInfoModel", { "id": id }, function(data) {
                $("#title").text(data.Title);
                $("#author").text(data.Author);
                $("#msg").text(data.Msg);
                $("#subDateTime").text(ChangeDateFormat(data.SubDateTime));
            });
            $("#detailDiv").css("display", "block");
            $("#detailDiv").dialog({
                modal: true,
                resizable: true,
                maximizable: true,
                collapsible:true,
                title:'新闻详细',
                width:400,
                height:300,
                buttons:[
                {
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler:function (){
                        alert('ok');
                    }
                    },{
                        text: '取消',
                        iconCls:'icon-cancel',
                    handler:function (){
                        $('#detailDiv').dialog('close');
                    }
                }]
            });
        }

        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div>
        @if (ViewData["list"] != null)
        {
            <table width="100%">
                <tr><th>编号</th><th>标题</th><th>作者</th><th>时间</th><th>详细</th><th>删除</th></tr>
                @foreach (NewInfo newInfo in (List<NewInfo>)ViewData["list"])
                {
                    <tr>
                        <td>@newInfo.Id</td>
                        <td>@newInfo.Title</td>
                        <td>@newInfo.Author</td>
                        <td>@newInfo.SubDateTime</td>
                        <td><a href="javascript:void(0)" class="details" ids="@newInfo.Id">详细</a></td>
                        <td><a href="javascript:void(0)" class="deletes" ids="@newInfo.Id">删除</a></td>
                    </tr>
                }

            </table>

            <p class="page_nav">
                @MvcHtmlString.Create(PageBar.GetPageBar((int)ViewData["pageIndex"], (int)ViewData["pageCount"]))
            </p>

        }
        else
        {
            <span>暂无数据</span>
        }
    </div>
    <!--显示详细信息-->
    <div id="detailDiv">
        <table>
            <tr><td>标题</td><td><span id="title"></span></td></tr>
            <tr><td>作者</td><td><span id="author"></span></td></tr>
            <tr><td>内容</td><td><span id="msg"></span></td></tr>
            <tr><td>时间</td><td><span id="subDateTime"></span></td></tr>
        </table>
    </div>
    <!--显示详细信息结束-->
</body>
</html>
